Repository zwave-js/zwave-js, pull requests merged in 2021-02, with the labels that each got.

#1547 fix(config): correct typos in Zooz Zen16 option choices
  packages/config/config/devices/0x027a/zen16_1.2_1.2.json
  packages/config/config/devices/0x027a/zen16_1.3.json
Labels: config ⚙

#1556 fix(config): remove double tap support from small number of early ge devices
  packages/config/config/devices/0x0039/zw4005_0.0_5.21.json
  packages/config/config/devices/0x0039/zw4005_5.22.json
  packages/config/config/devices/0x0063/ge_14291_zw4005_0.0_5.21.json
  packages/config/config/devices/0x0063/ge_14291_zw4005_5.22.json
  packages/config/config/devices/0x0063/ge_14292_0.0_5.21.json
  packages/config/config/devices/0x0063/ge_14292_5.22.json
  packages/config/config/devices/0x0063/ge_14294_zw3005.json
Labels: config ⚙

#1565 fix: refactor test for securely included nodes
  packages/zwave-js/src/lib/commandclass/SecurityCC.ts
  packages/zwave-js/src/lib/node/Node.ts
Labels: verified ✔

#1566 fix: assume non-listening nodes to be asleep on startup, don't ping
  packages/zwave-js/src/lib/node/Node.test.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/NodeStatusMachine.test.ts
  packages/zwave-js/src/lib/node/NodeStatusMachine.ts
Labels: verified ✔

#1570 fix(controller): prefer configured association labels over AGI
  packages/zwave-js/src/lib/controller/Controller.ts
Labels: verified ✔

#1569 fix(cc): assume that node is secure when it sends or requests a nonce
  packages/zwave-js/src/lib/node/Node.ts
Labels: verified ✔

#1583 fix(config): change LZW31 indicator color value size to 2
  packages/config/config/devices/0x031e/lzw31-bsd.json
  packages/config/config/devices/0x031e/lzw31-sn.json
Labels: config ⚙

#1586 feat(config): add support for AU/NZ variant of Aeotec ZW111
  packages/config/config/devices/0x0086/zw111_2.3.json
Labels: config ⚙

#1585 feat(config): add support for Zooz ZEN71
  packages/config/config/devices/0x027a/zen71.json
Labels: config ⚙

#1594 feat(config): add support for Linear/Nortek/GoControl WT00Z5-1
  packages/config/config/devices/0x014f/wt00z5-1.json
Labels: config ⚙

#1591 feat(config): add additional product type and id number for Shenzen Neo PD03Z
  packages/config/config/devices/0x0258/pd03z.json
Labels: config ⚙

#1590 feat(config): add support for Zooz ZEN30
  packages/config/config/devices/0x027a/zen30_0.0-1.3.json
  packages/config/config/devices/0x027a/zen30_1.5.json
Labels: config ⚙

#1535 chore(config): check if param description contains unnecessary stuff
  packages/config/maintenance/lintConfigFiles.ts
Labels: config ⚙, help wanted

#1598 feat(config): add support for MP21Z
  packages/config/config/devices/0x0312/mp21z.json
Labels: config ⚙

#1606 feat(config): add support for HomeSeer HS-FLS100-G2
  packages/config/config/devices/0x000c/hs-fls100-g2.json
Labels: config ⚙

#1607 feat(config): add alternative device id for Heatit Z-Smoke 230V
  packages/config/config/devices/0x019b/4512689.json
Labels: config ⚙

#1613 feat(config): add ABUS SHRM10000
  packages/config/config/devices/0x0403/shrm10000.json
Labels: config ⚙

#1627 fix(config): change Seconds to seconds for Willis NZW30T
  packages/config/config/devices/0x015d/nzw30t.json
Labels: config ⚙

#1629 feat(config): change manufacturer and improve labels for nzw31s and nzw30s
  packages/config/config/devices/0x0312/nzw30.json
  packages/config/config/devices/0x0312/nzw30s.json
  packages/config/config/devices/0x0312/nzw31.json
  packages/config/config/devices/0x0312/nzw31s.json
Labels: config ⚙

#1645 refactor: revert PR #1556 - remove double tap support from small number of early ge devices
  packages/config/config/devices/0x0039/zw4005.json
  packages/config/config/devices/0x0063/ge_14291_zw4005.json
  packages/config/config/devices/0x0063/ge_14291_zw4005_0.0_5.21.json
  packages/config/config/devices/0x0063/ge_14291_zw4005_5.22.json
  packages/config/config/devices/0x0063/ge_14292.json
  packages/config/config/devices/0x0063/ge_14292_0.0_5.21.json
  packages/config/config/devices/0x0063/ge_14294_zw3005.json
Labels: config ⚙

#1651 fix: correct label for FGR222
  packages/config/config/devices/0x010f/fgr221.json
  packages/config/config/devices/0x010f/fgr222_24.24.json
Labels: config ⚙

#1599 feat(config): add support for Yale YRM276 lock
  packages/config/config/devices/0x0129/yrm276.json
Labels: config ⚙

#1660 fix(config): swap product type and id for ZEN30
  packages/config/config/devices/0x027a/zen30_0.0-1.3.json
  packages/config/config/devices/0x027a/zen30_1.5.json
Labels: config ⚙

#1666 fix(config): force Binary Switch support for TKB Home TZ69
  packages/config/config/devices/0x0118/tz69.json
Labels: config ⚙

#1667 fix: improved zen22 support
  packages/config/config/devices/0x027a/zen22_1.0-1.4.json
  packages/config/config/devices/0x027a/zen22_1.5-1.5.json
  packages/config/config/devices/0x027a/zen22_1.7-1.7.json
  packages/config/config/devices/0x027a/zen22_3.0-3.0.json
  packages/config/config/devices/0x027a/zen22_3.1-3.2.json
  packages/config/config/devices/0x027a/zen22_3.3-3.3.json
  packages/config/config/devices/0x027a/zen22_3.4-3.4.json
  packages/config/config/devices/0x027a/zen22_3.5-3.6.json
  packages/config/config/devices/0x027a/zen22_3.7-19.0.json
Labels: config ⚙

#1650 fix(config): improve Yale Lock support
  packages/config/config/devices/0x0129/06-0001-0000-00-0011-z.json
  packages/config/config/devices/0x0129/cp2-5-3_1.78.json
  packages/config/config/devices/0x0129/sd-l1000-ch.json
  packages/config/config/devices/0x0129/sd-m1100.json
  packages/config/config/devices/0x0129/sr-bx-zw.json
  packages/config/config/devices/0x0129/yale_smart_door_lock_z-wave_module.json
  packages/config/config/devices/0x0129/ydm3109.json
  packages/config/config/devices/0x0129/ydm3168.json
  packages/config/config/devices/0x0129/ykfcon.json
  packages/config/config/devices/0x0129/yrd110.json
  packages/config/config/devices/0x0129/yrd120.json
  packages/config/config/devices/0x0129/yrd216.json
  packages/config/config/devices/0x0129/yrd220.json
  packages/config/config/devices/0x0129/yrd256.json
  packages/config/config/devices/0x0129/yrd446.json
  packages/config/config/devices/0x0129/yrl210.json
  packages/config/config/devices/0x0129/yrl220.json
Labels: config ⚙

#1680 fix(config): correct device names UFairy ZSE01/ZSE02
  packages/config/config/devices/0x0152/zse01.json
  packages/config/config/devices/0x0152/zse02.json
Labels: config ⚙

#1626 feat(config): add Inovelli NZW30T manufactured by NIE Technology
  packages/config/config/devices/0x0312/nzw30t.json
Labels: config ⚙

#1688 fix(config): force Binary Switch support for Qubino ZMNHDA
  packages/config/config/devices/0x0159/zmnhda.json
Labels: config ⚙

#1624 feat(config): import Z-Wave Alliance Files batch 6
  packages/config/config/devices/0x0166/sw-zrc.json
  packages/config/config/devices/0x016a/ft102.json
  packages/config/config/devices/0x016a/ft112-k.json
  packages/config/config/devices/0x016a/ft130-k.json
  packages/config/config/devices/0x016a/ufa01.json
  packages/config/config/devices/0x0173/lgrm.json
  packages/config/config/devices/0x0175/mt_2653.json
  packages/config/config/devices/0x0178/9125051.json
  packages/config/config/devices/0x017f/wink_d_w_sensor.json
  packages/config/config/devices/0x017f/wink_motion_sensor.json
Labels: config ⚙

#1635 feat(config): import Z-Wave Alliance Files batch 7
  packages/config/config/devices/0x0131/ne-nas-ds01z.json
  packages/config/config/devices/0x0312/mp21z.json
  packages/config/config/devices/0x0312/mp22z.json
  packages/config/config/devices/0x0312/mp23z.json
  packages/config/config/devices/0x0312/mp24z.json
  packages/config/config/devices/0x0312/ms10z.json
  packages/config/config/devices/0x0312/ms12z.json
  packages/config/config/devices/0x0312/ms13z.json
  packages/config/config/devices/0x0312/zw30.json
  packages/config/config/devices/0x0312/zw31.json
Labels: config ⚙

#1709 fix(config): add compat flag to linear wt00z-1
  packages/config/config/devices/0x014f/wt00z-1.json
Labels: config ⚙

#1684 feat: add Yale NTM625 sectional mortise lock configuration
  packages/config/config/devices/0x0129/ntm625.json
Labels: config ⚙

#1733 fix(config): move product Type/Id from CT100 to CT101
  packages/config/config/devices/0x0098/ct100.json
  packages/config/config/devices/0x0098/ct101.json
Labels: config ⚙

#1725 fix(config): fix zen30 latest firmware config
  packages/config/config/devices/0x027a/zen30_1.4.json
Labels: config ⚙

#1719 fix(config): add LED always on to GE 46201
  packages/config/config/devices/0x0063/46201.json
Labels: config ⚙

#1715 feat(config): adding Technisat shutter-switch.
  packages/config/config/devices/0x0299/1a93.json
Labels: config ⚙

#1603 feat(config): add support for TechniSat On/Off switch flush mount, BJ
  packages/config/config/devices/0x0299/1a90.json
Labels: config ⚙

#1676 feat(config): add support for Inovelli LZW45 with partial parameters
  packages/config/config/devices/0x031e/lzw45.json
Labels: config ⚙

#1746 feat(config): add config file for Homeseer HSM200
  packages/config/config/devices/0x000c/hs-hsm200.json
Labels: config ⚙

#1740 feat(config): update parameters for Inovelli LZW31-SN and LZW31-BSD
  packages/config/config/devices/0x031e/lzw31-bsd_0.0-1.45.json
  packages/config/config/devices/0x031e/lzw31-bsd_1.47-1.47.json
  packages/config/config/devices/0x031e/lzw31-bsd_1.49.json
  packages/config/config/devices/0x031e/lzw31-sn_0.0-1.45.json
  packages/config/config/devices/0x031e/lzw31-sn_1.47-1.47.json
  packages/config/config/devices/0x031e/lzw31-sn_1.49.json
Labels: config ⚙

#1763 feat(config): include LZW31 firmware 1.48 in config
  packages/config/config/devices/0x031e/lzw31-bsd_1.47-1.48.json
  packages/config/config/devices/0x031e/lzw31-sn_1.47-1.48.json
Labels: config ⚙

#1774 feat(config): add eaton outlet to device file
  packages/config/config/devices/0x001a/rftr9505.json
Labels: config ⚙

#1784 fix: improve communication with sleeping nodes when WakeUp CC is unsupported or support not yet known
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/SendThreadMachine.ts
Labels: verified ✔

#1790 fix(config): incorrect assignment of 914/c
  packages/config/config/devices/0x0090/914.json
  packages/config/config/devices/0x0090/914c.json
Labels: config ⚙

#1792 fix(config): add Association Groups to Kwikset locks
  packages/config/config/devices/0x0090/8225.json
  packages/config/config/devices/0x0090/8252.json
  packages/config/config/devices/0x0090/910.json
  packages/config/config/devices/0x0090/912.json
  packages/config/config/devices/0x0090/914.json
  packages/config/config/devices/0x0090/914c.json
  packages/config/config/devices/0x0090/916.json
  packages/config/config/devices/0x0090/ged1800.json
  packages/config/config/devices/0x0090/ged2350.json
  packages/config/config/devices/0x0090/obsidian_954.json
  packages/config/config/devices/0x0090/smartcode_888.json
Labels: config ⚙

#1793 fix: remove duplicate values from GED2350
  packages/config/config/devices/0x0090/ged2350.json
Labels: config ⚙

#1775 feat(config): add additional Inovelli NZW31T model
  packages/config/config/devices/0x0312/nzw31t.json
Labels: config ⚙

#1795 docs: auto-generate documentation for Command Classes
  docs/_sidebar.md
  docs/api/CCs/AlarmSensor.md
  docs/api/CCs/Association.md
  docs/api/CCs/AssociationGroupInfo.md
  docs/api/CCs/BarrierOperator.md
  docs/api/CCs/Basic.md
  docs/api/CCs/Battery.md
  docs/api/CCs/BinarySensor.md
  docs/api/CCs/BinarySwitch.md
  docs/api/CCs/CRC16.md
  docs/api/CCs/CentralScene.md
  docs/api/CCs/ClimateControlSchedule.md
  docs/api/CCs/Clock.md
  docs/api/CCs/ColorSwitch.md
  docs/api/CCs/Configuration.md
  docs/api/CCs/DoorLock.md
  docs/api/CCs/FirmwareUpdateMetaData.md
  docs/api/CCs/Indicator.md
  docs/api/CCs/Language.md
  docs/api/CCs/Lock.md
  docs/api/CCs/ManufacturerProprietary.md
  docs/api/CCs/ManufacturerSpecific.md
  docs/api/CCs/Meter.md
  docs/api/CCs/MultiChannel.md
  docs/api/CCs/MultiChannelAssociation.md
  docs/api/CCs/MultiCommand.md
  docs/api/CCs/MultilevelSensor.md
  docs/api/CCs/MultilevelSwitch.md
  docs/api/CCs/NoOperation.md
  docs/api/CCs/NodeNamingAndLocation.md
  docs/api/CCs/Notification.md
  docs/api/CCs/Protection.md
  docs/api/CCs/SceneActivation.md
  docs/api/CCs/SceneControllerConfiguration.md
  docs/api/CCs/Security.md
  docs/api/CCs/SoundSwitch.md
  docs/api/CCs/Supervision.md
  docs/api/CCs/ThermostatFanMode.md
  docs/api/CCs/ThermostatFanState.md
  docs/api/CCs/ThermostatMode.md
  docs/api/CCs/ThermostatOperatingState.md
  docs/api/CCs/ThermostatSetback.md
  docs/api/CCs/ThermostatSetpoint.md
  docs/api/CCs/Time.md
  docs/api/CCs/TimeParameters.md
  docs/api/CCs/UserCode.md
  docs/api/CCs/Version.md
  docs/api/CCs/WakeUp.md
  docs/api/CCs/ZWavePlus.md
  docs/api/CCs/index.md
  docs/api/ccs.md
  docs/api/endpoint.md
  maintenance/generateTypedDocs.ts
  maintenance/tsAPITools.ts
  packages/zwave-js/maintenance/lintCCConstructor.ts
  packages/zwave-js/maintenance/lintCCInterview.ts
Labels: Documentation 📚

#1788 feat(cc): disallow delay of firmware activation
  packages/zwave-js/src/lib/commandclass/FirmwareUpdateMetaDataCC.ts
Labels: verified ✔

#1776 fix(config): correct heatit brand names
  packages/config/config/devices/0x019b/4512688.json
  packages/config/config/devices/0x019b/4512689.json
  packages/config/config/devices/0x019b/45_126_86.json
  packages/config/config/devices/0x019b/heatit_z-relay.json
  packages/config/config/devices/0x019b/heatit_z-trm_2_2.6-2.255.json
  packages/config/config/devices/0x019b/heatit_z_push_button_8.json
  packages/config/config/devices/0x019b/heatit_z_water.json
Labels: config ⚙

#1818 fix(config): add trailing zero to partial param 23 mask
  packages/config/config/devices/0x031e/lzw45.json
Labels: config ⚙

#1777 feat(config): add templates to kwikset locks
  packages/config/config/devices/0x0090/8225.json
  packages/config/config/devices/0x0090/8252.json
  packages/config/config/devices/0x0090/910.json
  packages/config/config/devices/0x0090/912.json
  packages/config/config/devices/0x0090/914.json
  packages/config/config/devices/0x0090/914c.json
  packages/config/config/devices/0x0090/916.json
  packages/config/config/devices/0x0090/ged1800.json
  packages/config/config/devices/0x0090/ged2350.json
  packages/config/config/devices/0x0090/obsidian_954.json
  packages/config/config/devices/0x0090/smartcode_888.json
  packages/config/config/devices/0x0090/templates/kwikset_template.json
Labels: config ⚙

#1808 feat(config): add Zooz zen72, update zen71 description
  packages/config/config/devices/0x027a/zen71.json
  packages/config/config/devices/0x027a/zen72.json
Labels: config ⚙

#1868 feat(config): small wording changes to flush technisat devices
  packages/config/config/devices/0x0299/1a90.json
  packages/config/config/devices/0x0299/1a91.json
  packages/config/config/devices/0x0299/1a92.json
  packages/config/config/devices/0x0299/1a93.json
Labels: config ⚙

#1843 refactor(config): use templates (batch 1)
  packages/config/config/devices/0x0001/aspire_rf9575.json
  packages/config/config/devices/0x0001/templates/act_template.json
  packages/config/config/devices/0x0001/zdm230.json
  packages/config/config/devices/0x0001/zdp100.json
  packages/config/config/devices/0x0001/zdw103.json
  packages/config/config/devices/0x0001/zdw104.json
  packages/config/config/devices/0x0001/zdw120.json
  packages/config/config/devices/0x0001/zdw232.json
  packages/config/config/devices/0x0001/zir000_zir010.json
  packages/config/config/devices/0x0001/zrf113.json
  packages/config/config/devices/0x0001/zrm230.json
  packages/config/config/devices/0x0001/zrp100.json
  packages/config/config/devices/0x0001/zrp200.json
  packages/config/config/devices/0x0001/zrr150.json
  packages/config/config/devices/0x0001/zrw103.json
  packages/config/config/devices/0x0001/zrw113.json
  packages/config/config/devices/0x0001/zrw230.json
  packages/config/config/devices/0x0001/ztm230.json
  packages/config/config/devices/0x000c/hs-ds100.json
  packages/config/config/devices/0x000c/hs-fc200.json
  packages/config/config/devices/0x000c/hs-fls100-g2.json
  packages/config/config/devices/0x000c/hs-fls100.json
  packages/config/config/devices/0x000c/hs-fs100-l_0.0-5.17.json
  packages/config/config/devices/0x000c/hs-fs100_flex_5.18.json
  packages/config/config/devices/0x000c/hs-hsm200.json
  packages/config/config/devices/0x000c/hs-ls100.json
  packages/config/config/devices/0x000c/hs-ms100.json
  packages/config/config/devices/0x000c/hs-pa100.json
  packages/config/config/devices/0x000c/hs-wd100.json
  packages/config/config/devices/0x000c/hs-wd200.json
  packages/config/config/devices/0x000c/hs-wd200_0.0-5.9.json
  packages/config/config/devices/0x000c/hs-wd200_5.11.json
  packages/config/config/devices/0x000c/hs-ws100.json
  packages/config/config/devices/0x000c/hs-ws200.json
  packages/config/config/devices/0x000c/hs-wv100.json
  packages/config/config/devices/0x000c/templates/homeseer_template.json
  packages/config/config/devices/templates/master_template.json
  packages/config/src/JsonTemplate.ts
Labels: config ⚙

#1828 feat(config): update HeatIt Z-Smoke associations and metadata
  packages/config/config/devices/0x019b/4512689.json
Labels: config ⚙

#1890 fix(config): force Multi Channel CC to be supported for MH-C421
  packages/config/config/devices/0x015f/mh-c421.json
Labels: config ⚙

#1900 feat: add Double Tap to GE switches
  packages/config/config/devices/0x0063/26931_zw4006.json
  packages/config/config/devices/0x0063/26932_26933_zw3008.json
Labels: config ⚙

#1889 feat(config): add ABUS SHHA10000 configuration
  packages/config/config/devices/0x0403/shha10000.json
Labels: config ⚙

#1880 feat: add Zooz ZEN17 and ZEN32
  packages/config/config/devices/0x027a/zen17.json
  packages/config/config/devices/0x027a/zen32.json
Labels: config ⚙
