Repository zwave-js/zwave-js, pull requests merged in 2021-12, with the labels that each got.

#3846 fix(config): fix typo in param labels
  packages/config/config/devices/0x0063/55251_zw3107.json
  packages/config/config/devices/0x0063/55252_zw3105.json
Labels: config ⚙

#3813 fix(config): add product ID `0x0164` to SimonTech Roller Blind
  packages/config/config/devices/0x0267/10002080-13x.json
Labels: config ⚙

#3799 fix(config): clean up configuration and correct param ranges for Steinel XLED Home 2
  packages/config/config/devices/0x0271/xled_home_2.json
Labels: config ⚙

#3861 feat(bot): explain what "help wanted" in a configuration issue means
  .github/bot-scripts/configHelpWantedComment.js
  .github/bot-scripts/index.js
  .github/workflows/zwave-js-bot_comment.yml
Labels: infrastructure

#3874 fix(config): cleanup and consolidate ARZ Roller Shutters
  packages/config/config/devices/0x0085/arz.json
  packages/config/config/devices/0x0085/arz_1_1.json
  packages/config/config/devices/0x0085/arz_solar.json
  packages/config/config/devices/0x0085/arz_z-wave.json
  packages/config/config/devices/0x0085/arz_z-wave_solar.json
Labels: config ⚙

#3903 fix(config): add fingerprint for AU/NZ model of Aeotec ZW141
  packages/config/config/devices/0x0371/zw141.json
Labels: config ⚙

#3876 fix(config): clarify dim level parameter label for GE/Jasco 26932 / 26933 / ZW3008
  packages/config/config/devices/0x0063/26932_26933_zw3008.json
Labels: config ⚙

#3886 fix(config): correct params for fibaro FGWP102 firmware 3.2
  packages/config/config/devices/0x010f/fgwp102.json
Labels: config ⚙

#3878 fix: typo in master_template and correct MP21ZD options
  packages/config/config/devices/0x0312/mp21zd.json
  packages/config/config/devices/templates/master_template.json
Labels: config ⚙

#3921 fix(config): correct valueSize for parameter 3, Aeotec ZWA039
  packages/config/config/devices/0x0371/zwa039.json
Labels: config ⚙

#3926 fix(config): correct parameter 40 & 42, Qubino ZMNHTD
  packages/config/config/devices/0x0159/zmnhtd.json
Labels: config ⚙

#3928 fix(config): treat Basic Set as event for ZW15S
  packages/config/config/devices/0x011a/zw15s.json
Labels: config ⚙

#3925 fix(config): update Z-Uno definition
  packages/config/config/devices/0x0115/v3.json
Labels: config ⚙

#3927 feat(config): add configuration for Smartly Wheel Controller
  packages/config/config/devices/0x024f/fwc01.json
Labels: config ⚙

#3918 feat(config): add ABUS PLHA10000
  packages/config/config/devices/0x0403/plha10000.json
Labels: config ⚙

#3942 fix(config): add metadata for GE/Jasco 46202
  packages/config/config/devices/0x0063/46202.json
Labels: config ⚙

#3952 feat(config): add Parameter 17 to Zen71 Switch (firmware dependent)
  packages/config/config/devices/0x027a/zen71.json
Labels: config ⚙

#3953 fix(config): clarify parameter function for Aeotec Smart Switch 7
  packages/config/config/devices/0x0371/zwa023.json
Labels: config ⚙

#3530 docs: extend troubleshooting FAQ
  docs/_sidebar.md
  docs/api/CCs/_sidebar.md
  docs/api/driver.md
  docs/api/node.md
  docs/index.html
  docs/troubleshooting/700-series-issues.md
  docs/troubleshooting/connectivity-issues.md
  docs/troubleshooting/index.md
  docs/troubleshooting/lock-uncontrollable.md
  docs/troubleshooting/missing-config-params.md
  docs/troubleshooting/missing-values.md
  docs/troubleshooting/no-device-response.md
  docs/troubleshooting/no-updates.md
  docs/troubleshooting/unidentified-device.md
Labels: help wanted, Documentation 📚

#3976 fix(config): fix scene parameters for FGWDEU-111 (Fibaro Walli Dimmer)
  packages/config/config/devices/0x010f/fgwdeu.json
Labels: config ⚙

#3879 feat(config): add variant of TKB Home TSM02 with manufacturerId 0x4118
  packages/config/config/devices/0x4118/tsm02.json
Labels: config ⚙

#3981 fix: correct incorrect parameter values in various Heltun devices
  packages/config/config/devices/0x0344/he-tps01.json
  packages/config/config/devices/0x0344/he-tps02.json
  packages/config/config/devices/0x0344/he-tps03.json
  packages/config/config/devices/0x0344/he-tps04.json
  packages/config/config/devices/0x0344/he-tps05.json
  packages/config/config/devices/0x0344/templates/heltun_template.json
Labels: config ⚙

#3979 feat(config): add Zooz ZSE43 and ZSE44 device config files
  packages/config/config/devices/0x027a/zse43.json
  packages/config/config/devices/0x027a/zse44.json
Labels: config ⚙

#3922 feat(config): update/consolidate HomeSeer parameters for WD200 and WX300
  packages/config/config/devices/0x000c/hs-wd200.json
  packages/config/config/devices/0x000c/hs-wx300.json
  packages/config/config/devices/0x000c/templates/homeseer_template.json
Labels: config ⚙

#3986 fix(config): add warning to NAS-WR01ZE about huge negative values
  packages/config/config/devices/0x0258/nas-wr01ze.json
Labels: config ⚙

#3972 refactor: convert node.isControllerNode from method to property
  docs/api/node.md
  docs/getting-started/migrating-to-v9.md
  packages/zwave-js/src/lib/commandclass/ManufacturerSpecificCC.ts
  packages/zwave-js/src/lib/commandclass/WakeUpCC.ts
  packages/zwave-js/src/lib/node/Node.ts
Labels: breaking

#3993 fix(config): add fingerprint 0x0300:0xa10b to Sunricher SR-ZV9001T4-DIM
  packages/config/config/devices/0x0330/sr-zv9001t4-dim.json
Labels: config ⚙

#3991 feat(config): add Powerley PWLY-7828-A1 Thermostat
  packages/config/config/devices/0x028c/pwly-7828-a1.json
Labels: config ⚙
