Repository zwave-js/zwave-js, pull requests merged in 2021-03, with the labels that each got.

#1921 fix(config): minor corrections to Homeseer devices
  packages/config/config/devices/0x000c/hs-ls100.json
  packages/config/config/devices/0x000c/hs-ms100.json
  packages/config/config/devices/0x000c/hs-wd100.json
Labels: config ⚙

#1913 fix(config): add additional product ID to Fibaro Roller Shutter 3
  packages/config/config/devices/0x010f/fgr223.json
Labels: config ⚙

#1924 feat(config): add config for Ring Range Extender
  packages/config/config/devices/0x0346/range_extender_gen1.json
Labels: config ⚙

#1976 fix(config): cleanup Ring Contact Sensor and Motion Sensor
  packages/config/config/devices/0x0346/contact_sensor_gen1.json
  packages/config/config/devices/0x0346/motion_sensor_gen1.json
Labels: config ⚙

#1966 fix(config): do not hide root values for ZW132
  packages/config/config/devices/0x0086/zw132_0.0-1.9.json
  packages/config/config/devices/0x0086/zw132_2.0.json
Labels: config ⚙, verified ✔

#1983 fix(config): remove Supervision support for GE 14287 / ZW4002
  packages/config/config/devices/0x0039/39358.json
  packages/config/config/devices/0x0063/10974_zw4002.json
  packages/config/config/devices/0x0063/14287.json
  packages/config/config/devices/0x0063/14314.json
  packages/config/config/devices/0x0063/14314_zw4002.json
  packages/config/config/devices/0x0063/55258_zw4002.json
  packages/config/config/devices/0x0063/55259_zw4002.json
  packages/config/config/devices/0x0063/ge_12730_zw4002.json
Labels: config ⚙

#1984 fix(config): update yrd156 inclusion, exclusion, reset instructions
  packages/config/config/devices/0x0129/yrd156.json
Labels: config ⚙

#1992 fix(config): correct DMS01 configuration file
  packages/config/config/devices/0x021f/dms01.json
Labels: config ⚙

#1874 feat(config): add Zooz ZSE29 configuration parameters
  packages/config/config/devices/0x027a/zse29.json
Labels: config ⚙

#2005 fix(config): remove invalid params 1 and 2 from Fibaro FGRM222
  packages/config/config/devices/0x010f/fgrm222_0.0-22.22.json
Labels: config ⚙

#2009 fix(config): update Qubino Smart Plug 16A, parameter 41 does not exist
  packages/config/config/devices/0x0159/smart_plug_16a.json
Labels: config ⚙

#2018 feat(config): add russion versions of several Shenzhen Neo devices
  packages/config/config/devices/0x0258/eu-1.json
  packages/config/config/devices/0x0258/eu-2.json
  packages/config/config/devices/0x0258/flood_sensor.json
  packages/config/config/devices/0x0258/nas-ab01z.json
  packages/config/config/devices/0x0258/nas-wr01ze.json
Labels: config ⚙

#2001 refactor: fix typo in removeNodeFromAllAssociations
  docs/api/controller.md
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Labels: breaking

#1998 fix: correctly parse NodeProtocolInfo response, rework node properties
  docs/api/node.md
  docs/getting-started/migrating-to-v7.md
  packages/config/config/deviceClasses.json
  packages/zwave-js/src/Node.ts
  packages/zwave-js/src/lib/controller/GetNodeProtocolInfoMessages.ts
  packages/zwave-js/src/lib/controller/RequestNodeNeighborUpdateMessages.ts
  packages/zwave-js/src/lib/node/Node.test.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/Types.ts
Labels: Spec compliance 👮🏻‍♂️, breaking

#1787 refactor: do not query all values after cache restart
  .vscode/snippets/typescript.json
  docs/_sidebar.md
  docs/api/driver.md
  docs/api/node.md
  docs/getting-started/migrating-to-v7.md
  docs/getting-started/quickstart.md
  packages/zwave-js/src/lib/commandclass/AlarmSensorCC.ts
  packages/zwave-js/src/lib/commandclass/AssociationCC.ts
  packages/zwave-js/src/lib/commandclass/AssociationGroupInfoCC.ts
  packages/zwave-js/src/lib/commandclass/BarrierOperatorCC.ts
  packages/zwave-js/src/lib/commandclass/BasicCC.ts
  packages/zwave-js/src/lib/commandclass/BatteryCC.ts
  packages/zwave-js/src/lib/commandclass/BinarySensorCC.ts
  packages/zwave-js/src/lib/commandclass/BinarySwitchCC.ts
  packages/zwave-js/src/lib/commandclass/CentralSceneCC.ts
  packages/zwave-js/src/lib/commandclass/ClockCC.ts
  packages/zwave-js/src/lib/commandclass/ColorSwitchCC.ts
  packages/zwave-js/src/lib/commandclass/CommandClass.ts
  packages/zwave-js/src/lib/commandclass/ConfigurationCC.ts
  packages/zwave-js/src/lib/commandclass/DoorLockCC.ts
  packages/zwave-js/src/lib/commandclass/IndicatorCC.ts
  packages/zwave-js/src/lib/commandclass/LanguageCC.ts
  packages/zwave-js/src/lib/commandclass/LockCC.ts
  packages/zwave-js/src/lib/commandclass/ManufacturerProprietaryCC.ts
  packages/zwave-js/src/lib/commandclass/ManufacturerSpecificCC.ts
  packages/zwave-js/src/lib/commandclass/MeterCC.ts
  packages/zwave-js/src/lib/commandclass/MultiChannelAssociationCC.ts
  packages/zwave-js/src/lib/commandclass/MultiChannelCC.ts
  packages/zwave-js/src/lib/commandclass/MultilevelSensorCC.ts
  packages/zwave-js/src/lib/commandclass/MultilevelSwitchCC.ts
  packages/zwave-js/src/lib/commandclass/NodeNamingCC.ts
  packages/zwave-js/src/lib/commandclass/NotificationCC.ts
  packages/zwave-js/src/lib/commandclass/ProtectionCC.ts
  packages/zwave-js/src/lib/commandclass/SecurityCC.ts
  packages/zwave-js/src/lib/commandclass/SoundSwitchCC.ts
  packages/zwave-js/src/lib/commandclass/ThermostatFanModeCC.ts
  packages/zwave-js/src/lib/commandclass/ThermostatFanStateCC.ts
  packages/zwave-js/src/lib/commandclass/ThermostatModeCC.ts
  packages/zwave-js/src/lib/commandclass/ThermostatOperatingStateCC.ts
  packages/zwave-js/src/lib/commandclass/ThermostatSetbackCC.ts
  packages/zwave-js/src/lib/commandclass/ThermostatSetpointCC.ts
  packages/zwave-js/src/lib/commandclass/TimeCC.ts
  packages/zwave-js/src/lib/commandclass/TimeParametersCC.ts
  packages/zwave-js/src/lib/commandclass/UserCodeCC.ts
  packages/zwave-js/src/lib/commandclass/VersionCC.ts
  packages/zwave-js/src/lib/commandclass/WakeUpCC.ts
  packages/zwave-js/src/lib/commandclass/ZWavePlusCC.ts
  packages/zwave-js/src/lib/commandclass/manufacturerProprietary/Fibaro.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/node/Node.test.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/NodeReadyMachine.test.ts
  packages/zwave-js/src/lib/node/NodeReadyMachine.ts
  packages/zwave-js/src/lib/node/Types.ts
Labels: Performance 🐌, Spec compliance 👮🏻‍♂️, breaking

#1873 refactor(cc): do not expose deltaTime and previousValue as values
  packages/zwave-js/src/lib/commandclass/MeterCC.ts
Labels: breaking

#1911 fix: recreate transports, reconfigure loggers when updating log config
  docs/api/driver.md
  packages/core/src/log/shared.ts
Labels: breaking

#1981 feat(log): define formats in logger and transports, use ISO dates for non-TTY logging
  packages/core/src/log/shared.ts
  packages/serial/src/Logger.test.ts
  packages/zwave-js/src/lib/log/Controller.test.ts
  packages/zwave-js/src/lib/log/Driver.test.ts
Labels: breaking

#1841 feat(config): add Leviton 4 Speed Fan Controller zw4sf
  packages/config/config/devices/0x001d/zw4sf.json
Labels: config ⚙

#2025 feat(config): add config params 13 and 51 to Inovelli LZW30-SN
  packages/config/config/devices/0x031e/lzw30-sn.json
Labels: config ⚙

#1917 feat(config): add Ring Keypad config
  packages/config/config/devices/0x0346/alarm_keypad_gen1.json
  packages/config/config/devices/0x0346/templates/ring_template.json
Labels: config ⚙

#2044 fix(config): add compat flag to Ring Keypad
  packages/config/config/devices/0x0346/alarm_keypad_gen1.json
Labels: config ⚙

#2040 feat: add config for YRD210 with incorrect manufacturerId
  packages/config/config/devices/0x0109/yrd210.json
Labels: config ⚙

#2046 feat(config): add Haseman R4D4
  packages/config/config/devices/0x0115/haseman_r4d4.json
  packages/config/config/devices/0x0115/templates/haseman_template.json
Labels: config ⚙

#2050 fix(config): add param 52 to Gocontrol GC-TBZ48
  packages/config/config/devices/0x014f/gocontrol_gc-tbz48.json
Labels: config ⚙

#2062 fix: genericize 700 series controller device file
  packages/config/config/devices/0x0000/700_series_controller.json
Labels: config ⚙

#2055 fix(config): remove unsupported double tap on GE 26932; add double tap to 12730; fix parameters
  packages/config/config/devices/0x0063/14287.json
  packages/config/config/devices/0x0063/26932_26933_zw3008.json
  packages/config/config/devices/0x0063/ge_12730_zw4002.json
Labels: config ⚙

#2070 fix(config): sm103 -> hsp02
  packages/config/config/devices/0x0116/hsp02.json
  packages/config/config/devices/0x0116/sm103.json
Labels: config ⚙

#2068 fix(config): update LZW30 parameters to match documentation/latest firmware
  packages/config/config/devices/0x031e/lzw30.json
Labels: config ⚙

#2082 fix(config): add missing Sunricher device configs
  packages/config/config/devices/0x0330/zv9001k12-dim-z4.json
  packages/config/config/devices/0x0330/zv9001k12-dim-z5.json
  packages/config/config/devices/0x0330/zv9001k4-dim-g2.json
  packages/config/config/devices/0x0330/zv9001k4-dim.json
Labels: config ⚙

#2069 fix(config): split lzw31-sn param 16 normalize param names
  packages/config/config/devices/0x031e/lzw30-sn.json
  packages/config/config/devices/0x031e/lzw31-sn.json
  packages/config/config/devices/0x031e/lzw31-sn_0.0-1.45.json
  packages/config/config/devices/0x031e/lzw31-sn_1.49.json
  packages/config/config/devices/0x031e/lzw36.json
Labels: backport ⏮, config ⚙

#2090 fix: avoid crash during bootstrapping when Version CC is not in NIF
  packages/zwave-js/src/lib/controller/Controller.ts
Labels: backport ⏮

#2028 fix(config): separate Neo CoolCam NAS-WR01ZE V2 from WR01Z
  packages/config/config/devices/0x0258/nas-wr01z.json
  packages/config/config/devices/0x0258/nas-wr01ze.json
Labels: config ⚙

#2094 feat(config): add Fakro ZWS230 chain actuator
  packages/config/config/devices/0x0085/zws230.json
Labels: config ⚙

#2098 fix(config): remove Alarm Sensor from FGBS001
  packages/config/config/devices/0x010f/fgbs001.json
Labels: config ⚙

#2045 feat(config): add compat option alarmMapping
  docs/config-files/file-format.md
  maintenance/schemas/device-config.json
  packages/config/config/devices/0x0090/910.json
  packages/config/config/devices/0x0090/912.json
  packages/config/config/devices/0x0090/914.json
  packages/config/config/devices/0x0090/templates/kwikset_template.json
  packages/config/config/devices/0x0129/sd-l1000-ch.json
  packages/config/config/devices/0x0129/templates/yale_template.json
  packages/config/config/devices/0x0129/yrd110.json
  packages/config/config/devices/0x0129/yrd210.json
  packages/config/config/devices/0x0129/yrd256-zw3.json
  packages/config/config/devices/0x0129/yrd256.json
  packages/config/src/CompatConfig.ts
  packages/zwave-js/src/lib/commandclass/NotificationCC.ts
  packages/zwave-js/src/lib/test/compat/notificationAlarmMapping.test.ts
Labels: device compatibility

#2104 fix(config): add RU version of ZW100 (FW 1.10)
  packages/config/config/devices/0x0086/zw100_1.10.json
Labels: config ⚙

#2110 fix(config): distinguis Popp Flow Stop versions 1 and 2
  packages/config/config/devices/0x0154/009501_1.1-1.2.json
  packages/config/config/devices/0x0154/flow_stop.json
  packages/config/config/devices/0x0154/flow_stop_2.json
  packages/config/config/devices/0x0154/templates/popp_template.json
Labels: config ⚙

#2113 feat(config): add undocumented parameter 6 to ZW3104
  packages/config/config/devices/0x0063/28166_zw3104.json
  packages/config/config/devices/0x0063/ge_28167_zw3104.json
Labels: config ⚙

#2119 fix(config): minor update for some Inovelli switches and dimmer
  packages/config/config/devices/0x031e/lzw30-sn.json
  packages/config/config/devices/0x031e/lzw30.json
  packages/config/config/devices/0x031e/lzw31-bsd_0.0-1.45.json
  packages/config/config/devices/0x031e/lzw31-bsd_1.47-1.48.json
  packages/config/config/devices/0x031e/lzw31-bsd_1.49.json
Labels: config ⚙

#2126 fix: add compat flag to zen17 and zen16; fix zen17 config
  packages/config/config/devices/0x027a/zen16_0.0_1.0.json
  packages/config/config/devices/0x027a/zen16_1.1_1.1.json
  packages/config/config/devices/0x027a/zen16_1.2_1.2.json
  packages/config/config/devices/0x027a/zen16_1.3.json
  packages/config/config/devices/0x027a/zen17.json
Labels: config ⚙

#1876 fix(config): update Inovelli LZW60 device to better match upstream documentation
  packages/config/config/devices/0x031e/lzw60.json
Labels: config ⚙

#2060 feat(config): add Namron 200W led dimmer
  packages/config/config/devices/0x0438/200w dimmer.json
Labels: config ⚙

#2168 fix: add alarm value mapping for kwikset 888
  packages/config/config/devices/0x0090/smartcode_888.json
Labels: config ⚙

#2167 fix: remove Supervision CC from LZW36 due to firmware bug
  packages/config/config/devices/0x031e/lzw36.json
Labels: config ⚙

#2177 revert: add compat flag to zen17 and zen16; fix zen17 config
  packages/config/config/devices/0x027a/zen16_0.0_1.0.json
  packages/config/config/devices/0x027a/zen16_1.1_1.1.json
  packages/config/config/devices/0x027a/zen16_1.2_1.2.json
  packages/config/config/devices/0x027a/zen16_1.3.json
  packages/config/config/devices/0x027a/zen17.json
Labels: config ⚙

#2189 fix: typo in Zen32 configuration
  packages/config/config/devices/0x027a/zen32.json
Labels: config ⚙
