Repository zwave-js/zwave-js, pull requests merged in 2021-11, with the labels that each got.

#3643 fix(config): add fingerprint to NAS-WR01ZE
  packages/config/config/devices/0x0258/nas-wr01ze.json
Labels: config ⚙

#3648 fix(config): add missing parameters for Telldus TZWP-102
  packages/config/config/devices/0x0176/tzwp-102.json
Labels: config ⚙

#3640 feat(config): add HomeSeer HS-WX300 Switch
  packages/config/config/devices/0x000c/hs-wx300.json
  packages/config/config/devices/0x000c/templates/homeseer_template.json
Labels: config ⚙

#3655 feat(config): add NAS-PD07ZU1
  packages/config/config/devices/0x0258/nas-pd07u1.json
Labels: config ⚙

#3658 fix(config): add ZEN06 metadata
  packages/config/config/devices/0x027a/zen06.json
Labels: config ⚙

#3659 fix(config): correct units in parameters of Eurotronics Spirit
  packages/config/config/devices/0x0148/spirit.json
Labels: config ⚙

#3660 fix(config): add Ring 4AR1SZ-0EN0 Range Extender Gen2
  packages/config/config/devices/0x0346/range_extender_gen2.json
Labels: config ⚙

#3675 fix(config): correct LED Indicator Control parameter for ZEN27
  packages/config/config/devices/0x027a/zen27_2.1-2.6.json
Labels: config ⚙

#3673 fix(config): change firmware range for Aeotec aërQ v1
  packages/config/config/devices/0x0371/zwa009_11.0_255.255.json
Labels: config ⚙

#3671 fix(config): add missing units to Fibaro FGBS-222
  packages/config/config/devices/0x010f/fgbs222.json
Labels: config ⚙

#3681 fix(config): update ZEN23 config file with conditional parameters
  packages/config/config/devices/0x027a/zen23.json
  packages/config/config/devices/0x027a/zen23_0.0-2.9.json
  packages/config/config/devices/0x027a/zen23_4.0.json
Labels: config ⚙

#3669 fix(config): force-add missing CCs to ZMNHAA
  packages/config/config/devices/0x0159/zmnhaa.json
Labels: config ⚙

#3688 fix(config): swap param 9 partials, add missing option for ZW100/FT100
  packages/config/config/devices/0x0086/templates/aeotec_template.json
  packages/config/config/devices/0x0086/zw100.json
  packages/config/config/devices/0x016a/ft100.json
Labels: config ⚙

#3710 fix(config): spelling in label for Honeywell 39349
  packages/config/config/devices/0x0039/39349.json
Labels: config ⚙

#3704 fix(config): map reports from root to endpoint 1 on Fibaro Single Switches
  packages/config/config/devices/0x010f/fgs211_0.0-2.0.json
  packages/config/config/devices/0x010f/fgs211_2.1.json
  packages/config/config/devices/0x010f/fgs212.json
Labels: config ⚙

#3691 refactor: rework SendThreadMachine to eliminate nonce and update steps and handle sequenced messages
  .vscode/extensions.json
  package.json
  packages/config/package.json
  packages/core/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/commandclass/CommandClass.ts
  packages/zwave-js/src/lib/commandclass/Security2CC.ts
  packages/zwave-js/src/lib/commandclass/SecurityCC.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/SendDataBridgeMessages.ts
  packages/zwave-js/src/lib/controller/SendDataMessages.ts
  packages/zwave-js/src/lib/driver/CommandQueueMachine.test.ts
  packages/zwave-js/src/lib/driver/CommandQueueMachine.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
  packages/zwave-js/src/lib/driver/SendThreadMachine.test.ts
  packages/zwave-js/src/lib/driver/SendThreadMachine.ts
  packages/zwave-js/src/lib/driver/SerialAPICommandMachine.test.ts
  packages/zwave-js/src/lib/driver/StateMachineShared.ts
  packages/zwave-js/src/lib/driver/Transaction.test.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/driver/TransactionMachine.test.ts
  packages/zwave-js/src/lib/driver/TransactionMachine.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/log/Driver.test.ts
  packages/zwave-js/src/lib/message/Constants.ts
  packages/zwave-js/src/lib/message/Message.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/VirtualEndpoint.test.ts
  packages/zwave-js/src/lib/test/driver/nodeAsleepMessageOrder.test.ts
  packages/zwave-js/src/lib/test/driver/nodeAsleepNoReject.test.ts
  packages/zwave-js/src/lib/test/driver/receiveApplicationCommandHandlerBridge.test.ts
  packages/zwave-js/src/lib/test/driver/secureAndSupervisionEncap.test.ts
  packages/zwave-js/src/lib/test/driver/sendDataCallbackMessageOrder.test.ts
  packages/zwave-js/src/lib/test/driver/sendDataFailThrow.test.ts
  packages/zwave-js/src/lib/test/driver/successfulPingChangeNodeStatus.test.ts
  yarn.lock
Labels: verified ✔

#3715 feat(config): add Spectrum Brands 893 deadbolt
  packages/config/config/devices/0x0090/893.json
Labels: config ⚙

#3732 feat(config): update Spectrum Brands 892 to match style guide / 893 file format
  packages/config/config/devices/0x0090/892.json
Labels: config ⚙

#3746 fix(config): change some parameter units to seconds for Minoston MP20Z
  packages/config/config/devices/0x0312/mp20z.json
Labels: config ⚙

#3747 chore: upgrade yarn to 3.1
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-sources.cjs
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Labels: infrastructure

#3731 feat(config): add Ecolink TBZ500 Z-Wave Smart Thermostat
  packages/config/config/devices/0x014a/tstat-tbz500.json
Labels: config ⚙

#3748 chore: switch yarn to pnpm linker
  .github/actions/generateTypedDocs/main.js
  .github/actions/gh-cc-table/main.js
  .github/actions/toLogEntry/main.js
  .github/actions/zwave-js-bot/main.js
  .github/bot-scripts/addCompatFlag.js
  .github/bot-scripts/addFingerprint.js
  .github/bot-scripts/approveWorkflows.js
  .github/bot-scripts/checkAuthorized.js
  .github/bot-scripts/fixLintFeedback.js
  .github/bot-scripts/getFixLintInfo.js
  .github/bot-scripts/importConfigCreatePR.js
  .github/bot-scripts/rebaseFeedback.js
  .github/bot-scripts/renameCommitCheck.js
  .github/bot-scripts/renameCommitFeedback.js
  .github/bot-scripts/renameCommitGetPRInfo.js
  .github/workflows/nightly-config-publish.yml
  .github/workflows/test-and-release.yml
  .github/workflows/to-log-entry-overview.yml
  .gitpod.yml
  .vscode/extensions.json
  .vscode/settings.json
  .yarn-patches/ts-morph.diff
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Labels: infrastructure

#3758 fix(config): add parameter 17 to ZEN73 (FW 10.0+)
  packages/config/config/devices/0x027a/zen73.json
Labels: config ⚙

#3766 fix(config): add fingerprint 0x0303:0x4000 for Fibaro FRG223
  packages/config/config/devices/0x010f/fgr223.json
Labels: config ⚙

#3769 feat(config): add manufacturer Inteset 0x039a
  packages/config/config/manufacturers.json
Labels: config ⚙

#3768 fix(config): update Zooz ZEN15 Config to FW 1.6+
  packages/config/config/devices/0x027a/zen15.json
Labels: config ⚙

#3741 refactor: remove unsupported route parameter from SendDataBridgeRequest
  packages/zwave-js/src/lib/controller/SendDataBridgeMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Labels: breaking

#3756 feat: compute message RTT, time out node updates faster
  packages/zwave-js/src/lib/driver/CommandQueueMachine.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
  packages/zwave-js/src/lib/driver/SerialAPICommandMachine.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/message/Message.ts
  packages/zwave-js/src/lib/node/NodeStatistics.ts
  packages/zwave-js/src/lib/test/driver/sendDataCallbackMessageOrder.test.ts
  packages/zwave-js/src/lib/test/messages.ts
Labels: breaking

#3761 refactor: rename Controller (and related) members
  docs/api/controller.md
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/Features.ts
  packages/zwave-js/src/lib/controller/GetControllerVersionMessages.ts
  packages/zwave-js/src/lib/controller/GetSerialApiCapabilitiesMessages.ts
Labels: breaking

#3770 feat(config): add device Inteset WR01Z
  packages/config/config/devices/0x039a/nas-wr01z.json
Labels: config ⚙

#3778 fix(config): clarify ZEN15 param 27 options
  packages/config/config/devices/0x027a/zen15.json
Labels: config ⚙

#3779 feat(config): add REHAU AG RE.GUARD
  packages/config/config/devices/0x0413/re_guard.json
Labels: config ⚙

#3801 feat(config): additional Product ID for HS-WX300
  packages/config/config/devices/0x000c/hs-wx300.json
Labels: config ⚙

#3798 fix(config): several units and re-trigger parameter 5 default on ZP3111-5
  packages/config/config/devices/0x0109/zp3111-5.json
Labels: config ⚙

#3808 feat(config): added metadata for HS-WX300
  packages/config/config/devices/0x000c/hs-wx300.json
Labels: config ⚙

#3807 fix(config): add metadata to POPP Smart Radiator
  packages/config/config/devices/0x0002/010101.json
Labels: config ⚙

#3806 fix(config): update Keemple Smart Radiator
  packages/config/config/devices/0x0002/keemple_smart_radiator.json
Labels: config ⚙
