Repository zwave-js/zwave-js, pull requests merged in 2021-07, with the labels that each got.

#2913 build: migrate to Yarn v3
  .github/actions/zwave-js-bot/main.js
  .github/workflows-disabled/approve-workflow-runs.yml
  .github/workflows/cc-bot.yml
  .github/workflows/generate-docs.yml
  .github/workflows/nightly-config-publish.yml
  .github/workflows/test-and-release.yml
  .github/workflows/to-log-entry-overview.yml
  .github/workflows/zwave-js-bot_comment.yml
  .gitignore
  .husky/commit-msg
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.0-rc.6.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/ts-morph/patch.diff
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  CHANGELOG.md
  docs/development/installing-from-github.md
  docs/development/intro.md
  package.json
  packages/config/package.json
  packages/core/package.json
  packages/maintenance/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/zwave-js/package.json
  packages/zwave-js/tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: breaking, infrastructure

#2854 fix(config): update Fibaro FGD212 configuration
  packages/config/config/devices/0x010f/fgd212_3.5.json
Labels: config ⚙

#2878 fix(config): add fingerprint to Kwikset 910
  packages/config/config/devices/0x0090/910.json
Labels: config ⚙

#2963 chore: require Node.js 12
  docs/README.md
  packages/config/package.json
  packages/core/package.json
  packages/maintenance/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/zwave-js/package.json
Labels: breaking

#2965 fix(config): correct valueSize for param 64 on Aeotec ZW100 / Fantem FT100
  packages/config/config/devices/0x0086/zw100.json
  packages/config/config/devices/0x016a/ft100.json
Labels: config ⚙

#2932 fix(cc): do not query all user codes during interview
  docs/getting-started/migrating-to-v8.md
  packages/zwave-js/src/lib/commandclass/UserCodeCC.ts
  packages/zwave-js/src/lib/driver/Driver.test.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/test/utils.ts
Labels: breaking

#2952 fix(config): add param 19 and metadata for GE/Jasco 46201
  packages/config/config/devices/0x0063/46201.json
Labels: config ⚙

#2993 fix(config): allow manual entry for tone duration for Aeotec Doorbell and Siren
  packages/config/config/devices/0x0086/templates/aeotec_template.json
Labels: config ⚙

#2986 fix(cc): both fields in BatteryHealthReports may be empty/unknown
  packages/core/src/values/Primitive.ts
  packages/zwave-js/src/lib/commandclass/BatteryCC.ts
Labels: breaking

#2971 feat(config): update MP20Z config
  packages/config/config/devices/0x0312/mp20z.json
Labels: config ⚙

#2999 fix(config): correct device fingerprint for Kwikset 912
  packages/config/config/devices/0x0090/912.json
Labels: config ⚙

#3002 refactor: remove deprecated neighbors property and interview stage
  docs/getting-started/migrating-to-v8.md
  packages/zwave-js/src/lib/node/Node.test.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/Types.ts
Labels: breaking

#2997 feat: rework how endpoints and lifeline associations are handled
  .vscode/settings.json
  docs/config-files/file-format.md
  docs/getting-started/migrating-to-v8.md
  maintenance/schemas/device-config.json
  packages/config/config/devices/0x010f/fgs222.json
  packages/config/src/CompatConfig.ts
  packages/config/src/Devices.ts
  packages/zwave-js/src/lib/commandclass/AssociationCC.ts
  packages/zwave-js/src/lib/commandclass/MultiChannelAssociationCC.ts
  packages/zwave-js/src/lib/commandclass/MultiChannelCC.ts
  packages/zwave-js/src/lib/node/Endpoint.ts
  packages/zwave-js/src/lib/node/Node.test.ts
  packages/zwave-js/src/lib/node/Node.ts
Labels: breaking

#2915 feat(config): add Z-connect garage door controller
  packages/config/config/devices/0x024e/WIN-GDC-02.json
  packages/config/config/devices/0x024e/templates/zconnect_template.json
Labels: config ⚙

#3023 fix(config): add additional product ID for Willis Electric NZW30T
  packages/config/config/devices/0x015d/nzw30t.json
Labels: config ⚙

#3018 fix(config): fingerprints for two Sunricher dimmers
  packages/config/config/devices/0x0330/zv9001k4-dim-g2.json
  packages/config/config/devices/0x0330/zv9001k4-dim.json
Labels: automerge, config ⚙

#3013 fix(config): add metadata to Leviton devices and improve param definitions
  packages/config/config/devices/0x001d/dz15s.json
  packages/config/config/devices/0x001d/dz6hd.json
  packages/config/config/devices/0x001d/dzpd3.json
  packages/config/config/devices/0x001d/vrs15.json
Labels: config ⚙

#3032 fix(config): config params 23, 24, 25, and 26 on aeotec zwa023s are size 2, not 4
  packages/config/config/devices/0x0371/zwa023.json
Labels: config ⚙

#3033 feat(config): correct Aeotec ZWA005 parameter numbers
  packages/config/config/devices/0x0371/zwa005.json
Labels: config ⚙

#3004 feat(config): add Heatit ZM Single Relay 16A
  packages/config/config/devices/0x019b/zm_single_relay_16.json
Labels: config ⚙

#3021 fix(config): add metadata to Evolve products
  packages/config/config/devices/0x0113/lfm-20.json
Labels: config ⚙

#3040 feat(config): add config file for Aeotec ZWA011
  packages/config/config/devices/0x0371/zwa011.json
Labels: config ⚙

#3074 fix(config): add fingerprint for Heatit Smoke battery
  packages/config/config/devices/0x019b/4512688.json
Labels: config ⚙

#3079 fix(config): add root report mapping to CT101
  packages/config/config/devices/0x0098/ct101.json
Labels: config ⚙

#3049 fix(config): add missing LED Light param to GE/Jasco 46202 and 14292
  packages/config/config/devices/0x0063/46202.json
  packages/config/config/devices/0x0063/ge_14292.json
Labels: config ⚙

#2951 feat(config): add missing param and metadata for 46203
  packages/config/config/devices/0x0063/46203.json
Labels: config ⚙

#3098 fix(config): add fingerprint `0x0202:0x0009` to Aeotec ZWA009
  packages/config/config/devices/0x0371/zwa009.json
Labels: config ⚙

#3116 fix(config): correct device file for Ecolink ISZW7
  packages/config/config/devices/0x014a/iszw7-eco.json
Labels: config ⚙
