Repository zwave-js/zwave-js, pull requests merged in 2021-09, with the labels that each got.

#3264 feat(config): disable strict entry control validation for ring keypad v2
  packages/config/config/devices/0x0346/keypad_v2.json
Labels: config ⚙

#3178 feat(config): add support for FGWCEU-201
  packages/config/config/devices/0x010f/fgwceu-201.json
Labels: config ⚙

#3179 feat(config): add support for HE-TPS05
  packages/config/config/devices/0x0344/he-tps05.json
Labels: config ⚙

#3276 fix(config): correct zwa011 and zwa012 parameters
  packages/config/config/devices/0x0371/zwa011.json
  packages/config/config/devices/0x0371/zwa012.json
Labels: config ⚙

#3249 feat(config): add metadata to Namron Z-Wave Dimmer 400W
  packages/config/config/devices/0x0438/dimmer-400w.json
Labels: config ⚙

#3250 feat(config): add metadata + units to Namron Z-Wave Dimmer2 400W
  packages/config/config/devices/0x0438/dimmer2-400w.json
Labels: config ⚙

#2905 feat(config): add config for Minoston MP21ZD
  packages/config/config/devices/0x0312/mp21zd.json
Labels: config ⚙

#3274 fix(config): remove Z-Wave Plus CC from GE 14318
  packages/config/config/devices/0x0063/jasco_14318.json
Labels: config ⚙

#3290 fix(config): add product ID for EU version of Ring Contact Sensor v2
  packages/config/config/devices/0x0346/contact_sensor_gen2.json
Labels: config ⚙

#3310 feat(config): add Minoston mp21zp config file
  packages/config/config/devices/0x0312/mp21zp.json
Labels: config ⚙

#3312 fix(config): add product id 0x0103 to Aeotec ZW141
  packages/config/config/devices/0x0371/zw141.json
Labels: config ⚙

#3316 fix(config): add fingerprint to Logic Group ZSO7300
  packages/config/config/devices/0x0234/zso7300.json
Labels: config ⚙

#3321 fix(config): reduce parameter 9's minValue to 0 for Zooz ZEN24 4.0
  packages/config/config/devices/0x027a/zen24_4.0.json
Labels: config ⚙

#3336 fix(config): preserve root endpoint values for Everspring ST814
  packages/config/config/devices/0x0060/st814.json
Labels: config ⚙

#3341 fix(config): add missing parameters to Zooz ZEN15
  packages/config/config/devices/0x027a/zen15.json
Labels: config ⚙

#3340 fix(config): add device identifier for MCOHome MH10-PM2.5
  packages/config/config/devices/0x015f/mh10-pm2_5-wa_wd.json
Labels: config ⚙

#3334 fix(config): add templating and remove unnecessary parameters
  packages/config/config/devices/0x0344/he-hls01.json
  packages/config/config/devices/0x0344/he-ht01.json
  packages/config/config/devices/0x0344/he-rs01.json
  packages/config/config/devices/0x0344/he-tps05.json
  packages/config/config/devices/0x0344/templates/heltun_template.json
Labels: config ⚙

#3342 feat(config): add NIE Tech / Eva Logik ZW96
  packages/config/config/devices/0x0312/zw96.json
  packages/config/config/devices/0x0312/zw97.json
Labels: config ⚙

#3343 feat(config): add Neo Coolcam NAS-PD07Z Motion Sensor 5in1
  packages/config/config/devices/0x0258/nas-pd07z.json
Labels: config ⚙

#3348 build: let TSC handle building, don't rewrite unchanged generated files
  package.json
  packages/zwave-js/maintenance/generateCCAPIInterface.ts
  packages/zwave-js/maintenance/generateCCExports.ts
  tsconfig.test.json
Labels: infrastructure

#3371 fix: manual review of #3357
  packages/config/config/devices/0x014f/wo15emz5.json
Labels: config ⚙

#3373 fix(config): update Philio PSM02 Configuration
  packages/config/config/devices/0x013c/psm02.json
Labels: config ⚙

#3376 fix(config): correct units for Fibaro FGS-224 and FGS-214 params 154 and 155
  packages/config/config/devices/0x010f/fgs214.json
  packages/config/config/devices/0x010f/fgs224.json
Labels: config ⚙

#3402 feat(config): add fingerprint to OOMI Color Strip
  packages/config/config/devices/0x016a/ft121.json
Labels: config ⚙

#3407 feat(config): add fingerprint to Fakro ZWS230
  packages/config/config/devices/0x0085/zws230.json
Labels: config ⚙

#3382 fix(config): use unsigned (0-99, 255) instead of (-1) for config parameters setting Basic Set levels
  packages/config/config/devices/0x000c/hs-hsm200.json
  packages/config/config/devices/0x001e/ezmultipli.json
  packages/config/config/devices/0x002c/z-flexnet_dongl.json
  packages/config/config/devices/0x003b/s-6500f.json
  packages/config/config/devices/0x0118/tsm02.json
  packages/config/config/devices/0x013c/pst02b.json
  packages/config/config/devices/0x0149/dry.json
  packages/config/config/devices/0x0149/ums2.json
  packages/config/config/devices/0x0149/wps104.json
  packages/config/config/devices/0x0149/wsp1.json
  packages/config/config/devices/0x0149/wte.json
  packages/config/config/devices/0x0175/mt02648.json
  packages/config/config/devices/0x0175/pst02-1b.json
Labels: config ⚙

#3396 fix(config): update Philio PST02A and PST02B to use partial config parameters (5, 6, 7)
  packages/config/config/devices/0x013c/pst02a.json
  packages/config/config/devices/0x013c/pst02b.json
Labels: config ⚙

#3412 feat(config): add fingerprint to Popp & Co POPE700342
  packages/config/config/devices/0x0154/pope700342.json
Labels: config ⚙

#3413 fix: use sendCommand for Supervision Reports
  packages/zwave-js/src/lib/commandclass/SupervisionCC.ts
Labels: verified ✔

#3417 fix(config): update ZCOMBO-G units/metadata
  packages/config/config/devices/0x0138/zcombo-g.json
Labels: config ⚙

#3419 fix(config): delete duplicate config file for Fakro ZWS230
  packages/config/config/devices/0x0085/arz_z-wave_2.1.json
Labels: config ⚙

#3422 fix(config): change NAS-PD07Z parameters to match actual device configuration
  packages/config/config/devices/0x0258/nas-pd07z.json
Labels: config ⚙
