Repository zwave-js/zwave-js, pull requests merged in 2022-06, with the labels that each got.

#4686 fix(config): update CT100 device config fIle
  packages/config/config/devices/0x0098/ct100.json
Labels: config ⚙

#4619 fix(config): refactor Zooz config files to use templates where possible
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zac36.json
  packages/config/config/devices/0x027a/zen06.json
  packages/config/config/devices/0x027a/zen07.json
  packages/config/config/devices/0x027a/zen15.json
  packages/config/config/devices/0x027a/zen16.json
  packages/config/config/devices/0x027a/zen20.json
  packages/config/config/devices/0x027a/zen21.json
  packages/config/config/devices/0x027a/zen22.json
  packages/config/config/devices/0x027a/zen23.json
  packages/config/config/devices/0x027a/zen24.json
  packages/config/config/devices/0x027a/zen25.json
  packages/config/config/devices/0x027a/zen26.json
  packages/config/config/devices/0x027a/zen27.json
  packages/config/config/devices/0x027a/zen30.json
  packages/config/config/devices/0x027a/zen31.json
  packages/config/config/devices/0x027a/zen32.json
  packages/config/config/devices/0x027a/zen71.json
  packages/config/config/devices/0x027a/zen72.json
  packages/config/config/devices/0x027a/zen73.json
  packages/config/config/devices/0x027a/zen74.json
  packages/config/config/devices/0x027a/zen77.json
  packages/config/config/devices/0x027a/zse08.json
  packages/config/config/devices/0x027a/zse09.json
  packages/config/config/devices/0x027a/zse11.json
  packages/config/config/devices/0x027a/zse18.json
  packages/config/config/devices/0x027a/zse29.json
  packages/config/config/devices/0x027a/zse30.json
  packages/config/config/devices/0x027a/zse33.json
  packages/config/config/devices/0x027a/zse40.json
  packages/config/config/devices/0x027a/zse41.json
  packages/config/config/devices/0x027a/zse42.json
  packages/config/config/devices/0x027a/zse43.json
  packages/config/config/devices/0x027a/zse44.json
  packages/config/config/devices/0x027a/zw6302.json
  packages/config/config/devices/templates/master_template.json
Labels: config ⚙

#3890 feat(config): add Namron Z-Wave Touch Thermostat 16A
  packages/config/config/devices/0x0438/4512744.json
  packages/config/config/devices/0x0438/4512745.json
Labels: config ⚙, 😥 abandoned

#4666 fix(config): work around Configuration Info reporting bug in ZEN71/72/76/77
  packages/config/config/devices/0x027a/zen71.json
  packages/config/config/devices/0x027a/zen72.json
  packages/config/config/devices/0x027a/zen76.json
  packages/config/config/devices/0x027a/zen77.json
Labels: config ⚙

#4720 fix(config): add param 6 to HomeSeer HS-WS200+, FW 5.12+
  packages/config/config/devices/0x000c/hs-ws200.json
Labels: config ⚙

#4731 fix(config): work around Configuration Info reporting bug in ZEN34
  packages/config/config/devices/0x027a/zen34.json
Labels: config ⚙

#4725 feat(config): add AIBase HA-ZW-5PAB
  packages/config/config/devices/0x0384/ha-zw-5pa.json
Labels: config ⚙

#4726 feat(config): add AIBase HA-ZW-5SABC
  packages/config/config/devices/0x0384/ha-zw-5sab.json
Labels: config ⚙

#4708 feat(config): add wake time and dimming duration params to Zooz ZEN34
  packages/config/config/devices/0x027a/zen34.json
Labels: config ⚙

#4755 fix: scripts `clean` and `decode message`
  package.json
  packages/core/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  test/debug.js
Labels: infrastructure

#4760 fix(config): add alarm mapping for P-KFCON-MOD-YALE
  packages/config/config/devices/0x0129/yale_smart_door_lock_z-wave_module.json
Labels: config ⚙
