Repository zwave-js/zwave-js, pull requests merged in 2022-03, with the labels that each got.

#4316 chore: update and patch dependencies
  package.json
  yarn.lock
Labels: security

#4317 fix(config): correct device description for Leviton DZMX1
  packages/config/config/devices/0x001d/dzmx1.json
Labels: config ⚙

#4334 fix(config): add metadata to AEON Labs DSB29
  packages/config/config/devices/0x0086/dsb29.json
Labels: config ⚙

#4338 fix(config): add metadata to Zooz ZSE18
  packages/config/config/devices/0x027a/zse18.json
Labels: config ⚙

#4339 fix(config): add metadata to Ecolink DWZWAVE25
  packages/config/config/devices/0x014a/dwzwave25.json
Labels: config ⚙

#4343 fix(config): add metadata to AEON Labs DSC26
  packages/config/config/devices/0x0086/dsc26.json
Labels: config ⚙

#4350 fix(config): add metadata to Vision Security GZ8101
  packages/config/config/devices/0x0109/zg8101.json
Labels: config ⚙

#4358 fix(config): correct value size for Zooz ZEN20 v2
  packages/config/config/devices/0x027a/zen20.json
Labels: config ⚙

#4345 fix(config): add parameters and correct default values for Fibaro Smart Module FGS214 and Double Smart Module FGS224
  packages/config/config/devices/0x010f/fgs214.json
  packages/config/config/devices/0x010f/fgs224.json
Labels: config ⚙

#4361 fix(config): add value 2 to Aeotec ZW100 param 81, FW 1.10-1.12
  packages/config/config/devices/0x0086/zw100.json
Labels: config ⚙

#4364 docs: add philosophy and thoughts on workarounds
  docs/_sidebar.md
  docs/api/CCs/_sidebar.md
  docs/getting-started/philosophy.md
Labels: Documentation 📚

#4370 fix(config): merge redundant config files for Fibaro Walli Double Switch
  packages/config/config/devices/0x010f/fgwds.json
  packages/config/config/devices/0x010f/fgwdseu-221.json
Labels: config ⚙

#4380 fix(config): add `treatMultilevelSwitchSetAsEvent` compat flag to Aeotec ZW111
  packages/config/config/devices/0x0086/zw111.json
Labels: config ⚙

#4381 build: avoid doing duplicate work
  package.json
  packages/core/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/zwave-js/package.json
Labels: infrastructure

#4391 fix(config): add metadata to AEON Labs DSB09
  packages/config/config/devices/0x0086/dsb09.json
Labels: config ⚙

#4404 fix(config): add value 3 to param 4 for Zooz Zen16
  packages/config/config/devices/0x027a/zen16.json
Labels: config ⚙

#4409 fix(config): correct value for Brightness After Power Failure for LZW31-SN
  packages/config/config/devices/0x031e/lzw31-sn.json
Labels: config ⚙
