Repository zwave-js/zwave-js, pull requests merged in 2022-01, with the labels that each got.

#3983 feat(config): add Inteset Door/Window Sensor
  packages/config/config/devices/0x039a/INT-SMDWD-01.json
Labels: config ⚙

#4026 fix(config): add undocumented parameter 61 to wiDom WDS2
  packages/config/config/devices/0x0149/wds2.json
Labels: config ⚙

#4031 Update manufacturer name Heatit Z-Push Wall Controller
  packages/config/config/devices/0x019b/z-ph_wall_controller.json
Labels: config ⚙

#4034 feat(config): add Shenzen Neo DS07Z door/window switch
  packages/config/config/devices/0x0258/neo-ds07z.json
Labels: config ⚙

#4043 docs: mention RF interference in troubleshooting guide
  docs/troubleshooting/connectivity-issues.md
Labels: Documentation 📚

#4037 fix(config): trane xr524
  packages/config/config/devices/0x008b/trane_xr524.json
Labels: config ⚙

#4049 feat(config): add Ring Outdoor Contact Sensor, correct Contact Sensor Gen2
  packages/config/config/devices/0x0346/contact_sensor_gen2.json
  packages/config/config/devices/0x0346/outdoor_contact_sensor.json
Labels: config ⚙

#4056 feat(config): add Ecolink Tilt-zwave5
  packages/config/config/devices/0x014a/tilt-zwave5.json
Labels: config ⚙

#4057 fix(config): correct parameter 10 (LED blink on motion) for Shenzhen Neo NAS-PD01Z
  packages/config/config/devices/0x0258/nas-pd01z.json
Labels: config ⚙

#4046 fix(config): correct lifeline association and param 3 for ZWN-RSM2-PLUS
  packages/config/config/devices/0x011a/zwn-rsm2.json
Labels: config ⚙

#4074 fix(config): change default for Temperature Scale parameter of Zooz ZSE40
  packages/config/config/devices/0x027a/zse40.json
Labels: config ⚙

#4071 build: get rid of `lerna`, use yarn and release-script to handle versioning
  .editorconfig
  .github/actions/zwave-js-bot/main.js
  .github/workflows/nightly-config-publish.yml
  .github/workflows/test-and-release.yml
  .github/workflows/to-log-entry-overview.yml
  .releaseconfig.json
  .yarn/plugins/@yarnpkg/plugin-changed.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  docs/development/installing-from-github.md
  docs/development/intro.md
  package.json
  packages/config/package.json
  packages/core/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/testing/package.json
  packages/zwave-js/package.json
  yarn.lock
Labels: infrastructure

#4066 feat(config): add fingerprint for Aeotec ZWA024-C (Multisensor 7 EU version)
  packages/config/config/devices/0x0371/zwa024.json
Labels: config ⚙

#3277 fix(config): correct Trane parameters
  packages/config/config/devices/0x008b/templates/trane_template.json
  packages/config/config/devices/0x008b/trane_xr524.json
Labels: config ⚙

#4091 fix(config): adjust acceleration unit string
  packages/config/config/scales.json
Labels: config ⚙

#4080 fix(config): add new firmware features to Heltun devices
  packages/config/config/devices/0x0344/he-hls01.json
  packages/config/config/devices/0x0344/he-ht01.json
  packages/config/config/devices/0x0344/he-rs01.json
  packages/config/config/devices/0x0344/he-tps01.json
  packages/config/config/devices/0x0344/he-tps02.json
  packages/config/config/devices/0x0344/he-tps03.json
  packages/config/config/devices/0x0344/he-tps04.json
  packages/config/config/devices/0x0344/he-tps05.json
  packages/config/config/devices/0x0344/he-zw-therm-fl2.json
  packages/config/config/devices/0x0344/templates/heltun_template.json
Labels: config ⚙

#4084 fix(config): add missing parameters for HANK Electronics HKZW-SO03
  packages/config/config/devices/0x0208/hkzw_so03.json
Labels: config ⚙

#4085 feat(config): add MCOHome MH-S220
  packages/config/config/devices/0x015f/mh-s220.json
Labels: config ⚙

#4095 fix(config): add Momentary Toggle Switch to Hold Control Modes for Heltun HE-RS01
  packages/config/config/devices/0x0344/he-rs01.json
  packages/config/config/devices/0x0344/templates/heltun_template.json
Labels: config ⚙

#4081 fix(config): update Z-Uno definition for custom configuration parameters
  packages/config/config/devices/0x0115/v3.json
Labels: config ⚙

#4090 feat(config): added roller blind switch type to Fibaro FGD211 FW2.2+
  packages/config/config/devices/0x010f/fgd211.json
Labels: config ⚙

#4096 fix(config): correct lifeline for RF9540-N v1.2+ and map Basic Sets
  packages/config/config/devices/0x001a/rf9540-n_0.0_1.1.json
  packages/config/config/devices/0x001a/rf9540-n_1.2.json
Labels: config ⚙

#4097 feat(config): add missing option to Zooz Zen16
  packages/config/config/devices/0x027a/zen16.json
Labels: config ⚙

#4105 feat(config): add Vesternet devices
  packages/config/config/devices/0x0330/ves-zw-dim-001.json
  packages/config/config/devices/0x0330/ves-zw-swi-002.json
  packages/config/config/devices/templates/master_template.json
Labels: config ⚙

#4099 feat(config): add Eurotronic Temperature & Humidity Sensor
  packages/config/config/devices/0x0148/temp_humidity_sensor.json
Labels: config ⚙

#4107 fix(config): add association to Leviton DZ15S switch
  packages/config/config/devices/0x001d/dz15s.json
Labels: config ⚙

#4111 fix(config): added inclusion, exclusion and reset instructions to Danfoss MT02650
  packages/config/config/devices/0x0002/mt02650.json
Labels: config ⚙

#4069 feat(config): add Defaro DAT-101 and a fingerprint for Fibaro FGFS101
  packages/config/config/devices/0x010f/fgfs101.json
  packages/config/config/devices/0x032e/dat-101.json
Labels: config ⚙

#4114 fix(config): add Relay Load Power for Heltun HE-RS01
  packages/config/config/devices/0x0344/he-rs01.json
  packages/config/config/devices/0x0344/templates/heltun_template.json
Labels: config ⚙

#4124 feat(config): add fingerprint to Fibaro FGD212
  packages/config/config/devices/0x010f/fgd212.json
Labels: config ⚙

#4123 feat(config): add parameter 10 (all on, all off) to Qubino SmartMeter ZMNHTD
  packages/config/config/devices/0x0159/zmnhtd.json
Labels: config ⚙

#4121 fix(config): fix ZEN25 parameter units and align with style guide
  packages/config/config/devices/0x027a/zen25.json
Labels: config ⚙

#4117 fix(config): add iblinds V3/V3.1 parameters (8-10)
  packages/config/config/devices/0x0287/iblindsv3.json
Labels: config ⚙
