Repository zwave-js/zwave-js, pull requests merged in 2023-06, with the labels that each got.

#5885 docs: explain reason and countermeasures for nonsensical values
  docs/_sidebar.md
  docs/troubleshooting/index.md
  docs/troubleshooting/nonsensical-values.md
Labels: Documentation 📚

#5887 fix: remove support/control mark from NIF, omit non-mandatory CCs
  packages/zwave-js/src/lib/controller/NodeInformationFrame.ts
  packages/zwave-js/src/lib/serialapi/capability/SetApplicationNodeInformationRequest.ts
Labels: Spec compliance 👮🏻‍♂️

#5893 fix: improve handling of unexpected/incorrect commands during S2 bootstrapping
  packages/cc/api.md
  packages/cc/src/cc/Security2CC.ts
  packages/core/api.md
  packages/core/src/consts/Transmission.ts
  packages/serial/api.md
  packages/serial/src/message/Message.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Labels: Spec compliance 👮🏻‍♂️

#5899 fix(config): remove duplicated battery info on endpoint 0 for Fibaro FGT001
  packages/config/config/devices/0x010f/fgt001.json
Labels: config ⚙

#5881 feat(config): add metadata to HANK Electronics Ltd. HKZW-SO01
  packages/config/config/devices/0x0208/hkzw-so01.json
Labels: config ⚙

#5883 feat(config): add new FW3.6 parameters to Aeotec ZW141 Nano Shutter
  packages/config/config/devices/0x0371/zw141.json
Labels: config ⚙

#5912 fix(config): hide Binary Switch CC for Window Covering CC on iBlinds v3
  packages/config/config/devices/0x0287/iblindsv3.json
Labels: config ⚙

#5927 fix(config): remove unnecessary endpoints for RTC CT32
  packages/config/config/devices/0x0098/ct32.json
Labels: config ⚙

#5931 fix: allow other devices to configure a single lifeline, send it reset notifications
  packages/cc/api.md
  packages/cc/src/cc/AssociationCC.ts
  packages/cc/src/cc/AssociationGroupInfoCC.ts
  packages/cc/src/cc/DeviceResetLocallyCC.ts
  packages/cc/src/lib/API.ts
  packages/zwave-js/api.md
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/NodeInformationFrame.ts
  packages/zwave-js/src/lib/driver/NetworkCache.ts
  packages/zwave-js/src/lib/node/Node.ts
Labels: Spec compliance 👮🏻‍♂️

#5954 fix(config): add endpoint configuration parameters to SES 302
  packages/config/config/devices/0x0059/ses_302.json
  packages/config/config/devices/0x0059/ses_303.json
Labels: config ⚙
