Repository zwave-js/zwave-js, pull requests merged in 2023-05, with the labels that each got.

#5731 fix: handle Transport Service CC with unequal fragment sizes, do not encapsulate CRC16 or Transport Service in Security S0/S2
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/cc/src/cc/TransportServiceCC.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/TransportServiceMachine.ts
Labels: Spec compliance 👮🏻‍♂️

#5730 fix(cc): fall back to query Basic CC even if not advertised
  packages/zwave-js/api.md
  packages/zwave-js/src/lib/node/Endpoint.ts
  packages/zwave-js/src/lib/node/Node.ts
Labels: Spec compliance 👮🏻‍♂️

#5739 fix(config): disable periodic refresh for Shenzhen Neo NAS-PD03Z
  packages/config/config/devices/0x0258/nas-pd03z.json
Labels: config ⚙

#5782 fix(config): extend version range for Vesternet VES-ZW-HLD-016
  packages/config/config/devices/0x0330/ves-zw-hld-016.json
Labels: config ⚙

#5790 fix(config): correct inclusion instructions for Leviton ZW15R
  packages/config/config/devices/0x001d/zw15r.json
Labels: config ⚙

#5764 fix(config): updated Leviton VRS15 metadata
  packages/config/config/devices/0x001d/vrs15.json
Labels: config ⚙

#5743 fix(config): add 700 series variant of SimonTech Roller Blind
  packages/config/config/devices/0x0267/1000x080-xxx-700.json
Labels: config ⚙

#5812 fix: hide Multilevel Switch CC in favor of Window Covering CC
  packages/zwave-js/src/lib/node/Node.ts
Labels: breaking

#5819 fix(config): remove Supervision for Simon IO Roller Blind 700 series
  packages/config/config/devices/0x0267/1000x080-xxx-700.json
Labels: config ⚙

#5823 feat(config): add/correct config files for iSurpass J1825
  packages/config/config/devices/0x021c/dl9101v.json
  packages/config/config/devices/0x021c/dx1wl-z.json
  packages/config/config/devices/0x021c/ilock.json
  packages/config/config/devices/0x021c/ilock15.json
  packages/config/config/devices/0x021c/j1504.json
  packages/config/config/devices/0x021c/j1505.json
  packages/config/config/devices/0x021c/j1506.json
  packages/config/config/devices/0x021c/j1825.json
  packages/config/config/devices/0x021c/smoke_detector.json
Labels: config ⚙

#5767 fix(config): correct config parameters for Duwi ZW ESJ 300
  packages/config/config/devices/0x0064/zw_esj_300.json
Labels: config ⚙
